<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Escape Room Management</title>
    <link rel="stylesheet" href="../../css/style.css"/>
</head>
<body>
<header>
    <h1><a class="hoverable" href="../../index.ejs">Escape Room Management</a></h1>
    <a class="logo-link hoverable" href="../../index.ejs">
        <img class="header-logo" src="../../images/logo.png" alt="Escape Room Management Logo"/>
    </a>
</header>
<nav>
    <ul>
        <li><a class="hoverable" href="../../index.ejs">Home</a></li>
        <li><a class="hoverable" href="../guest/list.ejs">Guests</a></li>
        <li><a class="hoverable active" href="list.ejs">Tickets</a></li>
        <li><a class="hoverable" href="../reservation/list.ejs">Reservations</a></li>
        <li><a class="hoverable" href="../room/list.ejs">Rooms</a></li>
    </ul>
</nav>
<main>
    <h2>Edit ticket</h2>
    <form class="form" action="details.ejs">
        <label for="reservation">Reservation: <span class="form__symbol-required">*</span></label>
        <select name="reservation" id="reservation" required>
            <option value="">-- select reservation --</option>
            <option value="1" selected>#1 (Pharaoh's Tomb)</option>
            <option value="2">#2 (Enigma Code)</option>
            <option value="3">#3 (Pirate Ship)</option>
            <option value="4">#4 (Nuclear Silo)</option>
        </select>
        <span class="form__error" id="errorReservation"></span>

        <label for="guest">Guest: <span class="form__symbol-required">*</span></label>
        <select name="guest" id="guest" required>
            <option value="">-- select guest --</option>
            <option value="1" selected>Linda Yehudit</option>
            <option value="2">Gillian Domantas</option>
            <option value="3">Meagan Ikra</option>
            <option value="4">Sunil Katenka</option>
        </select>
        <span class="form__error" id="errorGuest"></span>

        <label for="price">Price: <span class="form__symbol-required">*</span></label>
        <input type="number" name="price" id="price" min="0" step="0.01" value="10.00" required/>
        <span class="form__error" id="errorPrice"></span>

        <label for="guestAllowedToCancel">Is guest allowed to cancel reservation:</label>
        <div class="form__field form__field--checkbox">
            <input type="checkbox" name="guest" id="guestAllowedToCancel" checked/>
        </div>
        <span class="form__error" id="errorGuestAllowedToCancel"></span>

        <div class="form__footer">
            <input class="button button--success hoverable" type="submit" value="Save"/>
            <a class="button button--secondary hoverable" href="details.ejs">Cancel</a>
        </div>
    </form>
</main>
<footer>
    <a class="hoverable" href="https://github.com/wfabjanczuk">Wojciech Fabjańczuk, s<span class="default-font">21471</span></a>
</footer>
</body>
</html>
