<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Edit guest</h2>
    <form class="form" action="/guests/details/1">
        <label for="firstName">First name: <span class="form__symbol-required">*</span></label>
        <input type="text" name="firstName" id="firstName" value="Linda" required/>
        <span class="form__error" id="errorFirstName"></span>

        <label for="lastName">Last name: <span class="form__symbol-required">*</span></label>
        <input type="text" name="lastName" id="lastName" value="Yehudit" required/>
        <span class="form__error" id="errorLastName"></span>

        <label for="email">Email: <span class="form__symbol-required">*</span></label>
        <input type="text" name="email" id="email" value="linda.yehudit@gmail.com" required/>
        <span class="form__error" id="errorEmail"></span>

        <label for="phoneNumber">Phone number: <span class="form__symbol-required">*</span></label>
        <input type="text" name="phoneNumber" id="phoneNumber" value="+48 900 900 900" required/>
        <span class="form__error" id="errorPhoneNumber"></span>

        <label for="dateBirth">Date of birth: <span class="form__symbol-required">*</span></label>
        <input type="date" name="dateBirth" id="dateBirth" value="2000-10-10" required/>
        <span class="form__error" id="errorDateBirth"></span>

        <label for="discountPercent">Discount percent: </label>
        <input type="number" name="discountPercent" id="discountPercent" value="0" min="0" max="20"/>
        <span class="form__error" id="errorDiscountPercent"></span>

        <div class="form__footer">
            <input class="button button--success hoverable" type="submit" value="Save"/>
            <a class="button button--secondary hoverable" href="/guests/details/1">Cancel</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>
