<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Guest list</h2>
    <div class="listing">
        <p>No guests found.</p>
        <div class="listing__footer">
            <a class="button button--success button--wide hoverable" href="/guests/add">Register new guest</a>
        </div>
    </div>
</main>

<%- include('../../fragments/footer.ejs') %>
