<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Escape Room Management</title>
    <link rel="stylesheet" href="../../css/style.css"/>
</head>
<body>
<header>
    <h1><a class="hoverable" href="../../index.ejs">Escape Room Management</a></h1>
    <a class="logo-link hoverable" href="../../index.ejs">
        <img class="header-logo" src="../../images/logo.png" alt="Escape Room Management Logo"/>
    </a>
</header>
<nav>
    <ul>
        <li><a class="hoverable" href="../../index.ejs">Home</a></li>
        <li><a class="hoverable" href="../guest/list.ejs">Guests</a></li>
        <li><a class="hoverable" href="../ticket/list.ejs">Tickets</a></li>
        <li><a class="hoverable" href="../reservation/list.ejs">Reservations</a></li>
        <li><a class="hoverable active" href="list.ejs">Rooms</a></li>
    </ul>
</nav>
<main>
    <h2>Edit room</h2>
    <form class="form" action="details.ejs">
        <label for="roomName">Room name: <span class="form__symbol-required">*</span></label>
        <input type="text" name="roomName" id="roomName" value="Pharaoh's Tomb" required/>
        <span class="form__error" id="errorRoomName"></span>

        <label for="baseTicketPrice">Base ticket price: <span class="form__symbol-required">*</span></label>
        <input type="number" name="baseTicketPrice" id="baseTicketPrice" min="0" step="0.01" value="10.00" required/>
        <span class="form__error" id="errorBaseTicketPrice"></span>

        <label for="minimumParticipants">Min. participants: <span class="form__symbol-required">*</span></label>
        <input type="number" name="minimumParticipants" id="minimumParticipants" min="1" step="1" value="5" required/>
        <span class="form__error" id="errorMinimumParticipants"></span>

        <label for="maximumParticipants">Max. participants: <span class="form__symbol-required">*</span></label>
        <input type="number" name="maximumParticipants" id="maximumParticipants" min="1" step="1" value="7" required/>
        <span class="form__error" id="errorMaximumParticipants"></span>

        <label for="minimumAge">Min. age: </label>
        <input type="number" name="minimumAge" id="minimumAge" min="0" step="1" value="12"/>
        <span class="form__error" id="errorMinimumAge"></span>

        <div class="form__footer">
            <input class="button button--success hoverable" type="submit" value="Save"/>
            <a class="button button--secondary hoverable" href="details.ejs">Cancel</a>
        </div>
    </form>
</main>
<footer>
    <a class="hoverable" href="https://github.com/wfabjanczuk">Wojciech Fabjańczuk, s<span class="default-font">21471</span></a>
</footer>
</body>
</html>
