<%- include('../../fragments/header.ejs') %>

<main>
    <h2>New guest</h2>
    <form class="form" action="/guests/details/1">
        <label for="firstName">First name: <span class="form__symbol-required">*</span></label>
        <input type="text" name="firstName" id="firstName" class="form__field form__field--error" required/>
        <span class="form__error" id="errorFirstName">This field is required.</span>

        <label for="lastName">Last name: <span class="form__symbol-required">*</span></label>
        <input type="text" name="lastName" id="lastName" class="form__field form__field--error" required/>
        <span class="form__error" id="errorLastName">This field is required.</span>

        <label for="email">Email: <span class="form__symbol-required">*</span></label>
        <input type="text" name="email" id="email" class="form__field form__field--error" required/>
        <span class="form__error" id="errorEmail">Invalid email.</span>

        <label for="phoneNumber">Phone number: <span class="form__symbol-required">*</span></label>
        <input type="text" name="phoneNumber" id="phoneNumber" class="form__field form__field--error" required/>
        <span class="form__error" id="errorPhoneNumber">Invalid phone number.</span>

        <label for="dateBirth">Date of birth: <span class="form__symbol-required">*</span></label>
        <input type="date" name="dateBirth" id="dateBirth" class="form__field form__field--error" required/>
        <span class="form__error" id="errorDateBirth">This field is required.</span>

        <label for="discountPercent">Discount percent: </label>
        <input type="number" name="discountPercent" id="discountPercent" class="form__field form__field--error" min="0" max="20"/>
        <span class="form__error" id="errorDiscountPercent">Value must be between 0 and 20.</span>

        <div class="form__footer">
            <span class="form__error form__error--summary">Please correct the highlighted errors.</span>
            <input class="button button--success hoverable" type="submit" value="Create"/>
            <a class="button button--secondary hoverable" href="/guests">Cancel</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>
